@import "general";
@import "variables";

.header {
    background-color: $blue;
    min-height: 472px;

    &-addit {
        background-color: $orange;
        height: 5px;
    }

    &-logo {
        padding: 40px 0px 0px 100px;
        float: left;
    }

    &-menu {
        float: right;
        padding: 40px 100px 0px 0px;
    }

    h1,
    h2 {
        text-align: center;
        font-weight: bold;
        color: $white;
        white-space: pre-line;
        line-height: 1.1;
        text-transform: uppercase;
    }

    h1 {
        margin-bottom: 0;
        font-size: 90px;
    }

    h2 {
        font-size: 40px;
        margin: 0;
    }
}

.about {
    background-color: $light-white;
    min-height: 532px;
    display: flex;
    align-items: center;

    >* {
        position: relative;
        flex: 1;
    }

    &-description {
        background-color: $white;
        border-radius: 10px;
        box-shadow: 0px 0px 20px 0px rgba($black, 0.2);
        padding: 30px 0;
        position: absolute;
        top: -150px;

        h1 {
            text-align: center;
            font-weight: bold;
            color: $black;
            margin: 0;
            font-size: 40px;
            line-height: 1;
        }

        hr {
            border: none;
            background-color: $light-white;
            height: 2px;
            width: 383px;
            align: center;
            margin-top: 20px;
        }

        p {
            font-size: 22px;
            font-weight: lighter;
            color: $black;
            line-height: 1.545;
            text-align: left;
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    &-shapes {
        display: flex;
        justify-content: space-between;
        margin: auto;
        margin-top: 200px;

        &-box {
            &-shape {
                background-color: $white;
                border-radius: 10px;
                height: 160px;
                width: 160px;
                margin: auto;
                background-repeat: no-repeat;
                background-size: 100px;
                background-position: center;

                &.picture-genetic {
                    background-image: url("../images/svg/genetic.svg");
                }
                &.picture-medicine.bg-blue {
                    background-image: url("../images/svg/medicine.svg");
                    background-color: $blue;
                }
                &.picture-science {
                    background-image: url("../images/svg/science.svg");
                }
            }
            &-text {
                width: 200px;
                font-size: 20px;
                text-align: center;
                margin: auto;
                margin-top: 20px;
            }
        }
    }
}

.content_2 {
    background-color: $orange;
    height: 472px;
}
